<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="softwaretestingmaterial">
    <test name="testngTest">
        <classes>
            <class name="Liveproject.Activity1" />
            <class name="Liveproject.Activity3" />
            <class name="Liveproject.Activity4" />
            <class name="Liveproject.Activity5" />
            <class name="Liveproject.Activity6" />
            <class name="Liveproject.Activity7" />
            <class name="Liveproject.Activity8" />
            <class name="Liveproject.Activity9" />




        </classes>
    </test>
</suite>